body{
  margin: 0;
  background-color: #1c3652;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: radial-gradient(
    circle at 50% 45%,                 
    rgba(255, 255, 255, 0.15) 0%,     
    rgba(255, 255, 255, 0.05) 35%,    
    #1c3652 80%                       
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn,
.btn-primary {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}